<html>
  <body>
    <h1>Form</h1>
    <form action="/submit" method="post">
      <label for="science">Science:</label>
      <input type="text" id="science" name="science" value="0"><br><br>

      <label for="maths">Maths:</label>
      <input type="text" id="maths" name="maths" value="0"><br><br>

      <label for="english">English:</label>
      <input type="text" id="english" name="english" value="0"><br><br>

      <input type="submit" value="Submit">
    </form>

    <p>If you click the submit btn, the form will redirect to a page called "/submit"</p>
  </body>
</html>
